body {
  background-color: var(--clr-back);
}

h3 {
  color: var(--clr-green);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.mainBlock {
  background-color: var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 10px;
}

input[type="text"] {
  border: none;
  border: 1px solid var(--clr-green);
  border-radius: 12px;
  width: 90%;
  outline: none;
  padding: 8px;
  margin-top: 0.67rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
}

label {
  font-weight: bold;
}

.field {
  margin-bottom: 2rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  width: 39%;
  font-weight: bold;
}

.btnPrimary:hover {
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}


.flex {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 670px) {
  .mainBlock {
    width: 80% !important;
  }

  input[type="text"] {
    width: 100%;
  }
}
