body {
  background-color: var(--clr-back);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row p {
  margin-left: 1rem;
}

.underline {
  border-bottom: 3px solid var(--clr-green);
  width: 55%;
  margin: auto;
  margin-bottom: 2.78rem;
}

img {
  width: 70px;
  margin-bottom: 0.57rem;
}

.cards {
  text-align: center;
  width: 74%;
  margin: auto;
  padding: 3rem;
}

.card1 {
  background-color: var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  padding: 2.78rem;
}

.card2 {
  background-color: var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 2rem;
}

p.desc1,
p.mealType {
  font-size: 14px;
  font-weight: bold;
}
.mealInfo {
  padding-top: 2rem;
  font-weight: bold;
  text-align: center;
}
.mealInfo p {
  margin-left: 0;
}
.caloriesInfo {
  padding: 1.89rem;
  color: black;
  font-size: 14px;
}
.caloriesInfo p {
  margin-bottom: 0.78rem;
}

.caloriesInfo .intro {
  margin-bottom: 1rem;
}

.fas {
  color: var(--clr-green);
}
.fa-pen-square:before,
.fa-plus-circle:before {
  margin-left: 0.56rem !important;
}

/*===============   Responsive  =================*/

@media screen and (max-width: 670px) {
  p.mealType {
    display: none;
  }

  img {
    width: 30%;
  }

  .card2 .card1 {
    padding: 0.77rem !important;
  }

  .underline {
    width: 80%;
  }

  .cards {
    width: 84%;
    padding: 0.78rem;
  }
}
