body {
  background-color: var(--clr-back);
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row p {
  margin-left: 1rem;
}

.underline {
  border-bottom: 3px solid var(--clr-green);
  width: 55%;
  margin: auto;
  margin-bottom: 2.78rem;
}

img {
  width: 70px;
  margin-bottom: 0.57rem;
}

.cards {
  text-align: center;
  width: 74%;
  margin: auto;
  padding: 1.55rem;
}

.card1 {
  background-color: var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  padding: 2.78rem;
}

.card2 {
  background-color: var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 2rem;
}

.icons {
  color: var(--clr-green);
}

.icons i + i {
  margin-left: 0.34rem;
}

p.desc1,
p.mealType {
  font-size: 14px;
  font-weight: bold;
}

.fas{
  padding: 10px 14px;
  font-size: 18px;
  margin: 100px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*===============     =================*/

@media screen and (max-width: 870px) {
  .cards {
    width: 84%;
  }
  .card1 {
    padding: 2rem;
  }

  p.mealType {
    font-size: 12px;
  }

  img {
    width: 55px;
  }
}

@media screen and (max-width: 708px) {
  p.mealType {
    display: none;
  }
}
