.showCase {
  padding: 2rem;
  padding-bottom: 0;
}

/* a {
  color: var(--clr-green);
} */

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px 1rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 18px;
}

.showCase img {
  width: 40%;
}

button + button {
  margin-left: 1rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  font-weight: bold;

  border: 2px solid var(--clr-green);
}

.btnPrimary:hover {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnPrimary a {
  color: var(--clr-white);
}

.btnPrimary:hover a {
  color: var(--clr-green);
}

.btnSecondary {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnSecondary a {
  color: var(--clr-green);
}

.btnSecondary:hover {
  color: var(--clr-white);
  background-color: var(--clr-green);
}

.btnSecondary:hover a {
  color: var(--clr-white);
}

/*==================  Functionnality ================*/

.fonctionnalite {
  padding: 2rem;
  background-color: var(--clr-lightGreen);
}

.fonctionnalite img {
  border-radius: 50%;
  width: 180px;
}

.fonctionnalite p {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.fonctionnalite h2 {
  text-align: center;
}

.fonctionnalite .row {
  margin-top: 2rem;
  align-items: flex-end;
}
