main {
  width: 80%;
  margin: auto;
  padding-top: 1.67rem;
}
select {
  appearance: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border: none;
  outline: 0;
  padding: 0.55rem;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border-radius: 4px;
}

select .hide {
  display: none;
}

p {
  font-weight: bold;
}

i {
  color: var(--clr-white);
}

.headerInfo {
  border: 2px solid var(--clr-green);
  border-radius: 5px;
  font-weight: bold;
}

.greenBlock {
  background-color: var(--clr-green);
  color: var(--clr-white);
}

.headerInfo i {
  color: var(--clr-green);
}

.weight {
  margin-right: 0.67rem;
}

.image {
  background-color: var(--clr-lightGreen);
  padding: 4.55rem 0.89rem;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  padding: 1.5rem;
}

/*===============  Mobile ===============*/

@media screen and (max-width: 670px) {
  .greenBlock {
    font-size: 12px;
  }

  .greenBlock span {
    display: none;
  }

  .mg {
    margin-top: 1rem;
  }
  .mg-2 {
    margin-right: 1.2rem;
  }
}
