.showCase {
  padding: 2rem;
  padding-bottom: 0;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px 1rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 18px;
}

.showCase img {
  width: 40%;
}

button + button {
  margin-left: 1rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  font-weight: bold;

  border: 2px solid var(--clr-green);
}

.btnPrimary:hover {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnPrimary a {
  color: var(--clr-white);
}

.btnPrimary:hover a {
  color: var(--clr-green);
}

.btnSecondary {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnSecondary a {
  color: var(--clr-green);
}

.btnSecondary:hover {
  color: var(--clr-white);
  background-color: var(--clr-green);
}

.btnSecondary:hover a {
  color: var(--clr-white);
}

/*==================  Functionnality ================*/

.fonctionnalite {
  padding: 2rem;
  background-color: var(--clr-lightGreen);
}

.fonctionnalite img {
  border-radius: 50%;
  width: 180px;
}

.fonctionnalite p {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.fonctionnalite h2 {
  text-align: center;
}

.fonctionnalite .row {
  margin-top: 2rem;
  align-items: flex-end;
  flex-wrap: wrap;
}

/*==================  Testimonials ================*/

.testimonials {
  padding: 2.67rem;
  text-align: center;
}

.testimonials i {
  color: var(--clr-green);
  margin-bottom: 0.89rem;
}

.testimonials .title {
  color: var(--clr-green);
}

.testimonials h3 {
  color: var(--clr-green);
  margin-top: 0.89rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 1rem;
}

.card {
  border: 2px solid var(--clr-green);
  border-radius: 23px;
  padding: 1rem;
}

/*==================  NewsLetters  ================*/

.newsletter {
  padding: 3.88rem;
  background-color: var(--clr-lightGreen);
}

.content {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.newsletter h2 {
  color: var(--clr-white);
}

.newsletter .desc {
  margin-top: 1rem;
}

.newsletter i {
  color: var(--clr-green);
  margin-right: 0.78rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}

.rightCol {
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  margin-bottom: 0.89rem;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 28px;
  width: 85%;
  outline: none;
  padding: 17px;
}

::placeholder {
  font-weight: bold;
  font-size: 12px;
}

button {
  border: none;
  border-radius: 25px;
  padding: 13px;
  font-size: 14px;
  margin-top: 1.55rem;
  background-color: var(--clr-green);
  color: var(--clr-white);
}

/*===============  Mobile ===============*/

@media screen and (max-width: 740px) {
  /* .row {
    flex-direction: column;
  } */

  .quote {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }
  .fonctionnalite img {
    border-radius: 50%;
    width: 200px;
  }
}
