.showCase {
  padding: 0.88rem;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
  font-weight: bold;
}

.showCase img {
  width: 300px;
}

button + button {
  margin-left: 1rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  font-weight: bold;
  padding: 12px 14px;
}

.btnPrimary:hover {
}

.btnSecondary {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

/*==================  Functionnality ================*/

.fonctionnalite {
  padding: 2rem;
  background-color: var(--clr-lightGreen);
}

.fonctionnalite img {
  border-radius: 50%;
  width: 180px;
}

.fonctionnalite p {
  font-weight: bold;
  margin-top: 1rem;
  align-self: flex-end;
}

.fonctionnalite h2 {
  text-align: center;
}

.fonctionnalite .row {
  margin-top: 2rem;
  gap: 20px;
}
