/* ==================  SCROLL BAR  ======================== */

::-webkit-scrollbar {
  width: 0.76rem;
}
::-webkit-scrollbar-track {
  background: var(--clr-green);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-green);
  border-radius: 100vw;
}

/* ==================    ======================== */

.rowNav {
  padding: 0 3rem 0 3rem;
}

.rowtop {
  display: flex;
  justify-content: space-between;
}

.rowNav a {
  text-decoration: none;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

i {
  color: var(--clr-green);
}

p i {
  color: rgba(0, 0, 0, 0.6);
}

h3 {
  font-size: 16px;
  font-weight: bold;
  /* width: 67%;*/
}

h4 {
  color: var(--clr-green);
  font-size: 12px;
  font-weight: bold;
}

img {
  width: 90px;
  border-radius: 10px;
}

.main {
  padding: 2.55rem;
}

.rowProgram {
  display: flex;
}

.info {
  margin-bottom: 0.55rem;
  padding: 0.78rem;
}

.greenLine {
  border-top: 2px solid var(--clr-green);
}

.textColor {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.rowmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowSearch {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.99rem;
}

#searchIcon {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: 0px 5px 5px 0px;
}

input[type="search"] {
  border: none;
  border: 2px solid var(--clr-green);
  border-right: none;
  padding: 0.66rem;
  border-radius: 5px 0px 0px 5px;
  width: 65%;
}

::placeholder {
  font-weight: bold;
}

/*============ CARD STYLES  ============*/

.meals {
  overflow: scroll;
  padding: 0.67rem;
  height: 100vh;
}

.mealInfo {
  margin-left: 1rem;
}

.meal {
  display: flex;
  align-items: center;
  margin: 0.66rem 0.66rem 0.66rem 0;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.84rem;
  border-radius: 10px;
}

.program .rowmenu {
  align-items: flex-start;
}

/*=============== TABLE STYLES ===============*/

.leftCol {
  border-right: 3px solid var(--clr-green);
  width: 30%;
}

.rightCol {
  margin-top: 2rem;
}

.tableTitle {
  color: var(--clr-green);
  text-align: center;
  margin-bottom: 4.55rem;
}

.tableTitle span {
  font-size: 20px;
  color: var(--clr-orange);
}

table i {
  color: var(--clr-lightGreen);
  font-size: 64px;
  opacity: 0.8;
}

th.rotate {
  height: 100px;
  white-space: nowrap;
  text-align: center;
}

/*=========  BUTTON STYLES  ============*/
button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
button + button {
  margin-left: 1rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  font-weight: bold;
  border: 2px solid var(--clr-green);
}

.btnPrimary:hover {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnPrimary a {
  color: var(--clr-white);
}

.btnPrimary:hover a {
  color: var(--clr-green);
}

.btnSecondary {
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.btnSecondary a {
  color: var(--clr-green);
}

.btnSecondary:hover {
  color: var(--clr-white);
  background-color: var(--clr-green);
}

.btnSecondary:hover a {
  color: var(--clr-white);
}
