.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 1.58rem;
}

select {
  appearance: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border: none;
  outline: 0;
  padding: 0.55rem;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.dropdown {
  margin-top: 1rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  width: 39%;
  font-weight: bold;
}
input[type="text"] {
  border: none;
  border: 1px solid var(--clr-green);
  border-radius: 12px;
  width: 80%;
  outline: none;
  padding: 8px;
  margin-top: 0.67rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
}

label {
  font-weight: bold;
}

.field {
  margin-bottom: 2rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  width: 39%;
  font-weight: bold;
}

.btnPrimary:hover {
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
  background-color: var(--clr-white);
}
@media screen and (max-width: 670px) {
  img {
    width: 100%;
  }
  .flex {
    margin: 2rem 0;
  }
}
