.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 1.58rem;
}

select {
  appearance: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border: none;
  outline: 0;
  padding: 0.55rem;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.dropdown {
  margin-top: 1rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
}

.btnPrimary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  width: 39%;
  font-weight: bold;
}
