#conteneurSign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10% ;
    margin: 0 auto;
}
#formSign #signImg{
    flex-grow: 1;
}
#signImg{
    width: 45%;
}