@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-back: #fafafa;
  --clr-orange: #fe9124;
  --clr-green: #39ad90;
  --clr-lightGreen: #cae9e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Globale Styles =============*/

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-black);
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 25px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

/*========= Navigation ===========*/

ul {
  display: flex;
  list-style-type: none;
}

nav a,
header a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  display: block;
  padding: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

header nav a {
  color: var(--clr-green);
}

nav a:hover {
  color: var(--clr-orange);
}

.rowNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.67rem;
  background: linear-gradient(
    180deg,
    rgba(57, 173, 144, 0.27) 15.62%,
    rgba(57, 173, 144, 0.0432) 85.94%
  );
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

header .line {
  min-height: 3vh;
  width: 100%;
  background-color: var(--clr-green);
}

#logoutStyle {
  color: var(--clr-orange);
}

.green {
  color: var(--clr-green);
}

.orange {
  color: var(--clr-orange);
}
