/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); */

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-back: #fafafa;
  --clr-orange: #fe9124;
  --clr-green: #39ad90;
  --clr-lightGreen: #cae9e1;
  /* --clr-grey: color: rgba(0, 0, 0, 0.6); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Globale Styles =============*/

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-black);
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/*========= Navigation ===========*/

ul {
  display: flex;
  list-style-type: none;
}

nav a,
header a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  display: block;
  padding: 0.8rem;

  font-weight: bold;
}

header nav a {
  color: var(--clr-green);
}

nav a:hover {
  color: var(--clr-orange);
}

.rowNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background: linear-gradient(
    180deg,
    rgba(57, 173, 144, 0.27) 15.62%,
    rgba(57, 173, 144, 0.0432) 85.94%
  );
}

header .line {
  min-height: 2vh;
  width: 100%;
  background-color: var(--clr-green);
}

#logoutStyle {
  color: var(--clr-orange);
}

.green {
  color: var(--clr-green);
  font-weight: bold;
  font-style: italic;
}

.orange {
  color: var(--clr-orange);
  font-weight: bold;
  font-style: italic;
}

footer {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 3rem;
  text-align: center;
  font-weight: bold;
}

footer h3 {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 2rem;
  color: #ffc04d;
}
.footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer p {
  margin-bottom: 0.78rem;
}

.sitemap ul {
  display: block;
}

.sitemap li {
  margin-bottom: 0.78rem;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.socialMedia i {
  color: #fff;
  font-size: 28px;
  margin-bottom: 0.78rem;
}

/*========== Mobile Styles ===========*/

@media screen and (max-width: 670px) {
  .mainLogo {
    display: none;
  }

  img {
    margin-top: 1.2rem;
  }

  .rowNav a {
    display: none;
  }
}
